p{
	color: rgb(24, 11, 1);
}
p.p{
	color: #f00;
}
p.pa{
	width: 300px;
}
table.dr{
	width: 400px;
	height: 300px;
}
h1{
	text-align: right;
}
h2{
	text-align: center;
   width: 300px;
}
table.aa{
	width: 500px;
}
th{
	text-align: left;
}
td{
	text-align: center;
}
p.ff{
	width: 300px;
	text-align: justify;
}
table.ee{
	width: 500px;
	height: 300px;
}
tr.rr{
		font-weight: normal;
}
tr.tt{
      font-weight: bold;
		text-align: center;
}
h2{
	font-style: italic;
}
h1.ii{
		text-align: center;
		font-size: 50px;
}
h2.ii{
	font-size: 40px;
	font-weight: normal;
}
p.ii{
	font-size: 30px;
}